
body{
    background-color: rgb(21, 72, 75);
}
a{
  text-decoration: none;
  color:#7a16ec;
}
H1
{
    color: rgb(133, 146, 144);
    margin-top: 40px;
}
H2
{
       color: rgb(118, 126, 125);

}
#sign{
    background-color: rgb(127, 137, 135);
    width: 500px;
    height: 410px;
  
    border-radius: 50%;
 border: 1px solid #13e213;
margin-top:50px;
position:relative;
}
p
{
    color: rgb(237, 240, 232);
    margin-top: 40px;
    margin-left: 1430px;
}

  
  input.right {
    margin-left: 1430px;
    
  }
  #c {
    width: 365px;
height:300px;

    object-position:35px 50px;

}

#cplus {
width: 400px;
object-position:30px 30px;

}
#jimage
 {
 height: 400px;
 width: 435px;
  object-position:0px -2px;
  border-radius: 40%;
  
  }

#cimg{
  background-color: rgb(127, 137, 135);
  width: 440px;
  height: 390px;
  border-radius: 50%;

border: 1px solid #13e213;
margin-top:20px;
position:relative;
}
#cplusimg{
  background-color: rgb(127, 137, 135);
  width: 440px;
  height: 390px;
  border-radius: 50%;
  border: 1px solid #13e213;
  margin-left: 500px;
  margin-top:-480px;
 
}
#javaimgg{
  width: 430px;
  height: 390px;
  border-radius: 50%;
  border: 1px solid #13e213;
  margin-left: 1000px;
  margin-top:-460px;
 
}
#scroll
{
  background-color: #13e213;
  border-radius: 20px;
  color: aliceblue;
  height: 30px;
}
cprice
{
margin: 50px;
font-size:30px ;
  color: white;

}
cplusprice
{
color: white;
font-size:30px ;
  margin: 600px;
word-break:break-all;
}
javaprice
{
color: white;
font-size:30px ;
  margin: 1100px;
 
word-break:break-all;
}


